{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>



<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>
    th {
        font-size: medium;
    }
</style>

<!-- Tools used for Movie Recomendation system-->

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Language/Framework/Tools used for Movie Recommendation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Front-End</td>
                <td>HTML, CSS, JavaScript</td>
            </tr>
            <tr>
                <td>FrameWorks</td>
                <td>Bootstrap,jQuery,Flask</td>
            </tr>
            <tr>
                <td>ML-Model/ Math</td>
                <td>Cosine Similarity</td>
            </tr>
            <tr>
                <td>Language</td>
                <td>Python</td>
            </tr>

            <tr>
                <td>Libraries</td>
                <td>Pandas, Numpy, sklearn, os, fuzzywuzzy, Wikipedia</td>
            </tr>

            <tr>
                <td>Source Control</td>
                <td>Git</td>
            </tr>

            <tr>
                <td>Containers</td>
                <td>Docker</td>
            </tr>

            <tr>
                <td>AWS Cloud Services</td>
                <td>EC2 Instance, Route53</td>
            </tr>


            <tr>
                <td>Tools</td>
                <td>Microsoft Visual Studio Community, Microsoft Visual Studio Code </td>
            </tr>



        </tbody>
    </table>
</div>

<!-- Tools used for Wine quality test -->

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Language/Framework/Tools used for Wine Quality Test</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Front-End</td>
                <td>HTML, CSS, JavaScript</td>
            </tr>
            <tr>
                <td>FrameWorks</td>
                <td>Bootstrap,jQuery,Flask</td>
            </tr>
            <tr>
                <td>ML-Model/ Math</td>
                <td>Gradient Boosting Classifier</td>
            </tr>
            <tr>
                <td>Language</td>
                <td>Python</td>
            </tr>

            <tr>
                <td>Libraries</td>
                <td>Pandas, Numpy, sklearn, os, pickle</td>
            </tr>

            <tr>
                <td>Source Control</td>
                <td>Git</td>
            </tr>

            <tr>
                <td>Containers</td>
                <td>Docker</td>
            </tr>

            <tr>
                <td>AWS Cloud Services</td>
                <td>EC2 Instance, Route53</td>
            </tr>


            <tr>
                <td>Tools</td>
                <td>Microsoft Visual Studio Community, Microsoft Visual Studio Code </td>
            </tr>



        </tbody>
    </table>
</div>


{% endblock %}
