
<div class="jumbotron">
    <h1>Flask Web </h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Movie Recommendation System</h2>
        <p>
            Designed the Machine Learning Model to Match the Top 5 Movies  based on the  Given user input and later build the Flask web-application  and Front-End UI to take the user input
            and give the Best Matched top 5 Movies based on the Cosine similarity matrix which was build using the Moive Rating Data set from Online.
        </p>
       
    </div>
    <div class="col-md-6">
        <h2>Wine Quality Test</h2>
        <p>
            Build the Wine Quality  ML Model using the Gradient Boosting Classifier  to Classify the Wine Quality based on the Different Paramaters like, pH, Color, Acidity, sulphates ,...
            and saved the Model. Later used the saved model in the Flask app  to predict and categorize Wine quality based on the user input into   3 differnt Categories Bad-Quality, Good-Quality and Best-Quality.
        </p>
        <br>
        <a href="/app1/">
            <span>Link to App1</span>            
        </a>
        <br>
        <a href="/app2/">
            <span>Link to App2</span>            
        </a>
        <br>
        <a href="/app3/">
            <span>Link to App3</span>            
        </a>
        <br>
        <a href="/app4/">
            <span>Link to App4</span>            
        </a>


    </div>
   
</div>

